<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="header">
        <img class="img" src="141916841_padded_logo.png" alt="logo" class="logo">
        <ul class="nav-links">
            <li><a href="home">Home</a></li>
            <li><a href="login">Login</a></li>
            <li><a href="register">Register</a></li>
        </ul>
    </div>
    <br>
    <div class="container">
        <h1>Login</h1>
        <form method="post" action="/login" required>
            <input type="email" name="email" placeholder="Email" value="<%= locals.email %>">
            <input type="password" name="password" placeholder="Password" required>
            <p class="error-msg"><%= locals.msg %></p>
            <button class="btn" type="submit">Login</button>
        </form>
        <p class="para">Not registered yet? <a href="register">Register here</a></p>
    </div>
    </div>

    <footer class="site-footer">
        <div class="footer-content">
          <p class="footer-desc">Crafted with Care and Passion 
          <br>
          Email : rowdyrudra07online@gmail.com
          </p>
        </div>
      </footer>
</body>
</html>
